.DS_Store
.venv
.swp
__pycache__
*.log
*.png
*.jpg
*.pdf
*.json
*.csv
*.txt

credentials/*
!credentials/credentials.example.toml

tmp
data/cache
data/raw_data
benchmark_results
plots
legalbench/output
legalbench/results

# TODO: Think about .egg-info at a later time
LegalBenchRAG.egg-info

# TODO: Use git-lfs
data/benchmarks
data/corpus
